@keyframes levitation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

//   aplicar delay a cada elemento

//  style={{animationDelay:"5s"}}

.levitate {
  animation: levitation 4s ease-in-out infinite;
}

@keyframes cookies {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(2px, -2px);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, 2px);
  }
  50% {
    transform: translate(2px, -2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, 2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

//   aplicar delay a cada elemento

//  style={{animationDelay:"5s"}}

.cookies {
  animation: cookies 2s linear 30s infinite;
}


//   ____________________________________________________________

@keyframes cosmosRight {
  0% {
    transform: translateY(0);
    transform: translatex(0);
  }
  10% {
    transform: translateY(-5px);
    transform: translatex(-15px);
  }
  20% {
    transform: translateY(0);
    transform: translatex(0);
  }
  100% {
    transform: translateY(0);
    transform: translatex(0);
  }
}

//   aplicar delay a cada elemento

//  style={{animationDelay:"5s"}}

.cosmosRight {
  animation: cosmosRight 40s ease-in-out infinite;
}

@keyframes cosmosLeft {
  0% {
    transform: translateY(0);
    transform: translate(0);
  }
  10% {
    transform: translateY(-5px);
    transform: translate(15px);
  }
  20% {
    transform: translateY(0);
    transform: translate(0);
  }
  100% {
    transform: translateY(0);
    transform: translate(0);
  }
}

//   aplicar delay a cada elemento

//  style={{animationDelay:"5s"}}

.cosmosLeft {
  animation: cosmosLeft 40s ease-in-out infinite;
}

@keyframes cosmosTop {
  0% {
    transform: translateY(0);
    transform: translate(0);
  }
  10% {
    transform: translateY(-5px);
    transform: translatey(15px);
  }
  20% {
    transform: translateY(0);
    transform: translatey(0);
  }
  100% {
    transform: translateY(0);
    transform: translatey(0);
  }
}

//   aplicar delay a cada elemento

//  style={{animationDelay:"5s"}}

.cosmosTop {
  animation: cosmosTop 40s ease-in-out infinite;
}

@keyframes cosmosBottom {
  0% {
    transform: translateY(0);
    transform: translate(0);
  }
  10% {
    transform: translateY(-5px);
    transform: translatey(-15px);
  }
  20% {
    transform: translateY(0);
    transform: translatey(0);
  }
  100% {
    transform: translateY(0);
    transform: translatey(0);
  }
}

//   aplicar delay a cada elemento

//  style={{animationDelay:"5s"}}

.cosmosBottom {
  animation: cosmosBottom 40s ease-in-out infinite;
}

// ________________________________________________________

@keyframes circleRight {
  0% {
    transform: translateY(0);
    transform: translatex(0);
  }
  50% {
    transform: translateY(-5px);
    transform: translatex(-20px);
  }
  100% {
    transform: translateY(0);
    transform: translatex(0);
  }
}

//   aplicar delay a cada elemento

//  style={{animationDelay:"5s"}}

.circleRight {
  animation: circleRight 60s ease-in-out infinite;
}

@keyframes circleLeft {
  0% {
    transform: translateY(0);
    transform: translate(0);
  }
  50% {
    transform: translateY(-5px);
    transform: translate(20px);
  }

  100% {
    transform: translateY(0);
    transform: translate(0);
  }
}

//   aplicar delay a cada elemento

//  style={{animationDelay:"5s"}}

.circleLeft {
  animation: circleLeft 60s ease-in-out infinite;
}
