.title {
  font-family: var(--fontPrimary) !important;
  font-weight: 600 !important;

  &.one {
    font-size: clamp(35px, 4vw, 60px) !important;
    line-height: clamp(44px, 4vw, 72px) !important;
  }
  &.two {
    font-size: clamp( 48px, 4vw, 64px) !important;
    line-height: clamp(50px, 4vw, 60px) !important;
  }
  &.three {
    font-size: clamp(32px, 4vw, 42px) !important;
    line-height: clamp(44px, 4vw, 72px) !important;
    letter-spacing: clamp(0.84px, 4vw, 0.64px) !important;
  }
  &.four {
    font-size: clamp(26px, 4vw, 32px) !important;
    line-height: clamp(72px, 4vw, 54px) !important;
    letter-spacing: clamp(0.64px, 4vw, 0.52px) !important;
  }
  &.five {
    font-size: clamp(18px, 4vw, 24px) !important;
    letter-spacing: clamp(0.64px, 4vw, 0.52px) !important;
    font-weight: 600 !important ;
  }
  &.textCenter {
    text-align: center !important;
  }
  &.sobre {
    font-size: clamp(26px, 4vw, 32px) !important;
  }

  &.blue {
    color: var(--color-blue) !important;
  }
  &.black {
    color: var(--color-black) !important;
  }
  &.white {
    color: var(--color-white) !important;
  }
}

.paragraph {
  font-weight: 500 !important;
  line-height: 2 !important;
  font-size: clamp(14px, 4vw, 18px) !important;
  letter-spacing: clamp(0.36px, 4vw, 0.28px) !important;

  &.semiBold {
    font-weight: 400 !important;
  }

  &.bold {
    font-weight: 600 !important;
  }

  &.textBold {
    letter-spacing: clamp(0.36px, 4vw, 0.28px) !important;
    font-weight: 600 !important;
  }

  &.depoimentos {
    letter-spacing: clamp(2.16px, 4vw, 1.68px) !important;
    text-transform: uppercase !important;
  }

  &.text {
    letter-spacing: clamp(2.16px, 4vw, 1.68px) !important;
    text-transform: uppercase !important;
  }

  &.acordion {
    font-size: clamp(18px, 4vw, 24px) !important;
    letter-spacing: clamp(0.48px, 4vw, 0.36px) !important;
    font-weight: 600 !important;
  }

  .linkTree {
    font-size: clamp(10px, 4vw, 14px) !important;
  }
  

  &.blue {
    color: var(--color-blue) !important;
  }
  &.black {
    color: var(--color-black) !important;
  }
  &.white {
    color: var(--color-white) !important;
  }
  &.red {
    color: var(--color-red) !important;
  }
}

.cookies {
  font-size: clamp(10px, 4vw, 12px) !important;
  
}

.labelText {
  font-size: clamp(16px, 4vw, 18px) !important;
  letter-spacing: clamp(0.36px, 4vw, 0.32px) !important;
  line-height: normal !important;
  font-weight: 500 !important;
}

.linkNavbar {
  font-size: 18px !important;
  letter-spacing: clamp(0.36px, 4vw, 0.32px) !important;
  font-weight: 600 !important;

  @media (max-width: 1212px) {
    font-size: 14px !important;
  }
}

.inputText {
  font-size: clamp(14px, 4vw, 18px) !important;
  letter-spacing: clamp(0.32px, 4vw, 0.28px) !important;
  font-weight: 500, 4vw, 600 !important;
  line-height: normal !important;
}

.textHeroAbout {
  font-size: clamp(14px, 4vw, 20px) !important;
  letter-spacing: clamp(0.32px, 4vw, 0.28px) !important;
  font-weight: 500 !important;
}

.ctaService {
  font-size: clamp(12px, 4vw, 18px) !important;
}

.textAcordion {
  font-size: clamp(14px, 4vw, 16px) !important;
  letter-spacing: clamp(0.32px, 4vw, 0.28px) !important;
  font-weight: 500 !important;
}

.textNumbers {
  font-size: clamp(14px, 4vw, 18px) !important;
  max-width: 216px !important;
  width: 100% !important;
  text-align: center !important;
  font-weight: 600 !important;
}

.number {
  width: fit-content !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: clamp(52px, 4vw, 96px) !important;
  letter-spacing: clamp(1.44px, 4vw, 1.92px) !important;
  font-weight: 600 !important;
  letter-spacing: 0.32px !important;
  background: var(--linearPrimary, #21b88f);
  -webkit-background-clip: text;
  color: transparent;
}


.numberAbout {
  width: fit-content !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: clamp(52px, 4vw, 96px) !important;
  letter-spacing: clamp(1.44px, 4vw, 1.92px) !important;
  font-weight: 600 !important;
  letter-spacing: 0.32px !important;
  background: var(--linearSecondary, #272e48);
  -webkit-background-clip: text;
  color: transparent;
}

.politicas {
  font-size: clamp(10px, 4vw, 14px) !important;
}

.textNoWrap {
  white-space: nowrap !important;
}