.sectionLogos {
  overflow: hidden;
  padding: 38px 0;
  background: var(--colorPrimary);
  white-space: nowrap;
  position: relative;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

  .sectionLogos:before,
  .sectionLogos:after {
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      content: "";
      z-index: 2;
  }

  .logosWrapper {
      display: flex;
      overflow: hidden;
  }

  .logosSlide {
      display: flex;
      gap: 20px;
      width: max-content;
      animation: slide 700s linear infinite;

      img {
          height: 30px;
          margin: 0 10px;
      }
  }
}

@keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}
