.main {
  animation: opacity 1s ease-in-out;
  height: 100vh;
  margin: 0;
  background-color: var(--color-grey);
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative !important;

    .errorImg {
      width: 100% !important;
      padding: 20px !important;
      max-width: 598px !important;
      top: 1px !important;
    }


    p {
      font-size: clamp(25px, 7vw, 50px);
      text-align: center;
      color: var(--colorSecondary);
    }

    a {
      margin-top: 20px;
    }
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
