.heroSection {
  background: var(--colorSecondary) !important;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: -5px !important;

  .heroContainer {
    .heroText {
      display: flex !important;
      width: 100% !important;
      flex-direction: column !important;
      align-items: flex-start !important;
      gap: 12px !important;

      @media (max-width: 768px) {
        width: 100% !important;
        margin-top: 28px !important;
      }

      @media (min-width: 768px) AND (max-width: 1000px) {
        margin-top: 62px !important;
      }
    }
  }
}

.sectionAbout {
  .aboutHeader {
    width: 100% !important;
    max-width: 1085px !important;
    display: flex !important;
    flex-direction: column !important;
    margin: 67px auto 0px auto !important;
    align-items: center !important;
  }

  .aboutNumbers {
    display: flex !important;
    align-items: center !important;
    margin: 100px auto 100px auto !important;
    width: 100% !important;

    .numbers {
      width: 100% !important;
      max-width: 1000px !important;
      justify-content: center !important;
      display: flex !important;
      align-items: center !important;
      gap: 50px !important;
      margin: auto;
      flex-wrap: wrap;
    }
  }
}

.sectionHistory {
  background: var(--colorWhite) !important;

  .container {
    position: relative;

    @media (max-width: 1113px) {
      transform: inherit !important;
    }
  }

  .vetorContainer {
    position: absolute !important;
    overflow: hidden !important;
    width: 100% !important;
    height: auto !important;
    top: 0px !important;
    left: -60px !important;
    padding: 20px !important;
    justify-content: end !important;
    display: flex !important;

    @media (max-width: 842px) {
      display: none !important;
      margin-top: 0px !important;
    }

    .img {
      width: 100% !important;
      height: auto !important;
      display: block !important;
      margin-top: -300px !important;
      margin-right: 61px !important;
      max-width: 224px;

      @media (min-width: 842px) and (max-width: 1000px) {
        margin-top: -227px !important;
        max-width: 165px;
      }
    }
  }

  .paragraphs {
    display: flex !important;
    margin-top: 50px !important;
    gap: 80px !important;

    @media (max-width: 842px) {
      flex-direction: column !important;
      gap: 0px !important;
    }

    .paragraph {
      width: 100% !important;
      max-width: 605px !important;

      @media (max-width: 842px) {
        max-width: 100% !important;
      }
    }
  }
}

.divParagraph {
  padding: 100px 0 !important;

  @media (min-width: 1000px) {
    transform: scale(0.9) !important;
  }

  @media (max-width: 842px) {
    flex-direction: column !important;
  }

  @media (max-width: 842px) {
    margin-top: -30px !important;
  }
}

.sectionArrows {
  .arrowsContaint {
    display: flex !important;
    margin: auto !important;

    @media (max-width: 600px) {
      margin-top: 100px !important;
      transform: scale(1) !important;
    }

    .arrowsTop {
      position: relative;
      top: 28px;
      z-index: 99 !important;
      left: 46px !important;

      @media (max-width: 600px) {
        display: none !important;
      }

      svg {
        width: 100% !important;
        max-width: 50px !important;
      }
    }

    .movie {
      justify-content: center !important;
      display: flex !important;
      max-width: 878px !important;
      width: 100% !important;

      .iframeMovie {
        width: 878px !important;
        height: 488px !important;

        @media (max-width: 1092px) {
          width: 700px !important;
          height: 388px !important;
        }

        @media (max-width: 932px) {
          width: 600px !important;
          height: 333px !important;
        }

        @media (max-width: 852px) {
          width: 500px !important;
          height: 278px !important;
        }

        @media (max-width: 738px) {
          width: 450px !important;
          height: 250px !important;
        }

        @media (max-width: 658px) {
          width: 400px !important;
          height: 225px !important;
        }

        @media (max-width: 638px) {
          width: 400px !important;
          height: 225px !important;
        }

        @media (max-width: 506px) {
          width: 350px !important;
          height: 197px !important;
        }

        @media (max-width: 400px) {
          width: 300px !important;
          height: 167px !important;
        }

        @media (max-width: 400px) and (min-width: 600px) {
          width: 250px !important;
          height: 95px !important;
        }

        @media (min-width: 350px) and (max-width: 400px) {
          width: 270px !important;
          height: 137px !important;
        }
      }
    }

    .arrowsBottom {
      position: relative;
      bottom: 39px;
      right: 52px;
      @media (max-width: 600px) {
        display: none !important;
      }

      svg {
        width: 100% !important;
        max-width: 55px !important;
      }
    }
  }
}

.sectionMission {
  .container {
    display: flex !important;
    flex-direction: column !important;
    gap: 70px !important;
    justify-content: space-between;
    margin-top: 100px !important;


    @media (max-width: 614px) {
      flex-direction: column !important;
    }

    .mission {
      width: 100% !important;
      display: flex !important;
      align-items: center !important;
      gap: 40px !important;

      @media (max-width: 614px) {
        width: 100% !important;
      }
    }

    .commitment {
      width: 40% !important;

      @media (max-width: 614px) {
        width: 100% !important;
      }
    }
  }
  .imgHeader {
    display: flex !important;
    position: relative !important;
    margin-bottom: 30px !important;

    @media (max-width: 614px) {
      width: 100% !important;
    }

    .smallerAndGraeter {
      position: absolute !important;
      left: -19px !important;
      width: 104px !important;
      height: 152px !important;
      top: -37px !important;
      z-index: 3 !important;
    }

    .outservTeam {
      width: 100% !important;

      img {
        width: 100% !important;
        aspect-ratio: 16 / 9;
        object-fit: cover;
      }
    }
  }

  .textMission {
    width: 100% !important;
    margin-top: 38px !important;
  }

  .textBussiness {
    display: flex !important;
    width: 60%;
    flex-direction: column !important;
    gap: 30px !important;
  }

  .services {
    display: flex !important;
    width: 100%;
    flex-direction: column !important;
    margin-top: 30px !important;

    .servicesText{
      display: flex !important;
    }
  }

  .imgsBusiness {
    width: 100% !important;

    div {
      display: flex;
      justify-content: space-around;
      width: 100%;
      flex-wrap: wrap;
    }

    img {
      margin-bottom: 32px !important;
      width: 40% !important;
      max-width: 200px !important;

      @media (max-width: 614px) {
        width: 25% !important;
      }
    }
  }
}

.sectionOutserv {
  display: flex !important;
  flex-direction: column !important;
  gap: 30px !important;
  .logo {
    max-width: 500px !important;
    width: 100% !important;
  }
}

.carrosselLogos {
  img {
    transition: 0.5s !important;
    filter: grayscale(100%) !important;
  }
}
